<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>Naughty By Nature</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <h1 class="h1">Naughty By Nature</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-1 mb-sm-0 h3 justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
              <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="logout" href="/">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/signup">Sign Up</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
    
    <main class="container container-fluid mt-5 text-center d-flex justify-content-center" >
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

    <footer>

    </footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>