<div class="card">
  {{#if animals.length}}
  <section>
    <h2>Your Animals</h2>
    </br>
      {{#each animals as |animal|}}
        {{> dashboardAI animal}}
      {{/each}}
  </section>
  {{/if}}
  </br>
  <button type="submit" class="btn btn-warning"><a class="link" href="/dashboard/new">+ New Post</a></button>
</div>

<script src="/js/addAnimal.js"></script>