<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <a href="/dashboard/new"><button  type="submit" class="btn btn-secondary">Add a Find!</button></a>


  {{#if animals.length}}
    <div class="col-md-6 animal-list">
      <h3>Current Animals:</h3>

      {{#each animals as |animal|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/animal/{{animal.id}}">{{animal.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{animal.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>