{{#if animals.length}}
<section>
  <h2>Your Animals</h2>
  <button type="submit" class="btn btn-warning rounded-circle"><a class="btn" href="/dashboard/new">+ Add Animal</a></button>
  </br>
  {{#each animals as |animal|}}
    {{> dashboardAI animal}}
  {{/each}}
</section>
{{/if}}



<script src="/js/addAnimal.js"></script>