<div class="card">
    <h3 class="card-header">Edit Animal: {{animal.name}}</h3>
    <form class="card-body edit-post-form">
        <label for="post-title" class="form-label">Name</label>
        <input name="post-title" type="text" value="{{animal.name}}" class="form-input" />
        <label class="form-label" for="content">Description</label>
        <input name="content" type="text" value="{{animal.description}}" class="form-input" />
        <button type="submit" class="btn">Update Animal</button>
        <button type="button" class="delete-post-btn btn">Delete Animal</button>
    </form>
</div>


<script src="/js/editAnimal.js"></script>
<script src="/js/deleteAnimal.js"></script>