<div class="form-signin">
  <form>
    <p class="h1">Naughty By Nature</p>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input
        type="username"
        class="form-control"
        id="floatingInput"
        placeholder="username"
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <button href="/dashboard" type="submit" class="btn btn-secondary">Sign In</button>
    <!-- Forgot password button    -->
    <!-- <p class="small mb-5 pb-lg-2">
          <a class="text-dark fw-bold" href="#!">Forgot password?</a>
        </p> -->
    <div>
      <p class="mb-0">
        Don't have an account?
        <a href="#!" class="text-info fw-bold">Sign Up</a>
      </p>
    </div>
    <p class="mt-5 mb-3 text-light">&copy; 2021</p>
  </form>
</div>

<script src="/js/login.js"></script>