<div class="form-signin">
  <form>

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input
        type="username"
        class="form-control"
        id="floatingInput"
        placeholder="name"
      />
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <a href="/dashboard"><button type="submit" class="btn btn-secondary">Sign In</button></a>
    <!-- Forgot password button    -->
    <!-- <p class="small mb-5 pb-lg-2">
          <a class="text-dark fw-bold" href="#!">Forgot password?</a>
        </p> -->
    <div>
      <p class="mb-0">
        Don't have an account?
      </p>
      <a href="/signup" class="text-info fw-bold">Sign Up</a>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>