<div
  style="
      margin: 20px;
      border: solid black;
      border-radius: 10px;
      padding: 10px;
      background-color: rgba(172, 172, 172, 0.65);
    "
  class="new-post-form"
>
  <h3 class="card-header">Create New Animal</h3>
  <form class="card-body new-post-form" id="post-form">
    <div class="mb-3">

      <label for="animal-name" class="name">Animal</label>
      <input type="text" id="name" name="animal-name" class="form-input" />

      {{! <div class="mb-3"> }}
      <label class="form-label" for="description">Description</label>
      <input id="description" name="description" class="form-input" />

      <label class="location" for="location">Location
      </label>
      <input id="location" name="location" class="form-input" />
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
<script src="/js/addAnimal.js"></script>