<div class="card new-post-form">
    <h3 class="card-header">Create New Animal</h3>
    <form class="card-body new-post-form" id="post-form">
        <label for="animal-name" class="name">Name</label>
        <input type="text" id="name" name="animal-name" class="form-input" />


        <label class="form-label" for="description">Description</label>
        <input id="description" name="description" class="form-input" />

        <label class="location" for="location">Location
        </label>
        <input id="location" name="location" class="form-input" />



        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/js/addAnimal.js"></script>