<div
  class="container container-fluid d-flex justify-content-end flex-lg-column"
>
  <div
    class="card"
    style="
            border-radius: 15px;
            background-color: rgba(138, 175, 149, 0.5);
            background-size: inherit;
            padding:10px"
  >
    <h3
      class="card-header"
      style="
                font-family: Cambria, Cochin, Georgia, Times,
                  'Times New Roman', serif;
              "
    >Create Account</h3>
    <form id="signup-form" class="card-body">
      <label for="name-signup" class="form-label">Name</label>
      <input id="name-signup" type="text" class="form-input" />

      <label class="form-label" for="password-signup">Password</label>
      <input id="password-signup" type="password" class="form-input" />
      <br />
      <button
        type="submit"
        class="btn"
        style="
         background-color: rgb(161, 112, 56);
          border: 2px solid rgb(23, 32, 32);"
      >Signup!</button><br />
      <a class="login-link" href="/login" style="color:black">Log in instead</a>
    </form>
  </div>
</div>

<script src="/js/newUser.js"></script>