<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/bootstrap/bootstrap.min.css" />
    <title>Naughty By Nature</title>
  </head>
  <body style="background-image:url('./public/css/imgs/wes-hicks-6rNitHsIU3c-unsplash.jpg');
        background-size: cover;
        background-position: center;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid" style="background-color: F3F0D7;">
        <a
          class="navbar-brand"
          href="#"
          style="
            font-size: 34px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
            color: 77300c;
            font-weight: bold;
          "
          >Naughty By Nature</a
        >
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: bold; font-size:20px">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" style="font-weight: bold; font-size: 20px;">Logout</a>
            </li>
          </ul>
          <!-- Search bar if needed -->
          <!-- <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button> -->
          </form>
        </div>
      </div>
    </nav>
    <div class="container" >
      <button type="button" class="btn btn-lg" style="background-color: 82993F; border:solid 2px black; border-radius: 50%; font-family: Verdana, Geneva, Tahoma, sans-serif; margin: 10px; position: relative; left: 85%;">+POST</button>
      <div class="card">
        <h5 class="card-header" style=" background-color: 313B10;color: F3F0D7; font-family: Verdana, Geneva, Tahoma, sans-serif;">Post Title</h5>
        <div class="card-body" style="background-color: F3F0D7">
          <h5 class="card-title">Description</h5>
          <p class="card-text">Date</p>
          <a href="#" class="btn" style="background-color: ACC555; color: black;">View location</a>
        </div>
      </div>
    </div>
  </body>
</html>